In [10]:
import pandas as pd
import os
import csv

csv_path_1 = "Resources/hawaii_measurements.csv"
csv_path_2 = "Resources/hawaii_stations.csv"
measurments_df = pd.read_csv(csv_path_1)
stations_df = pd.read_csv(csv_path_2)
stations_df.set_index(stations_df['station'])

,station,name,latitude,longitude,elevation
station,,,,,
USC00519397,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
USC00513117,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
USC00514830,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
USC00517948,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
USC00518838,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
USC00519523,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
USC00519281,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
USC00511918,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
USC00516128,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [2]:
measurments_df = measurments_df.dropna()

In [3]:
measurments_df.to_csv('clean_measurments.csv')
stations_df.to_csv('clean_stations.csv')